<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles/course_post.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>

    <!-- This is a delete popup/modal -->
    <div class="modal fade" id="deletecomment-popup" tabindex="-1" aria-labelledby="deletecomment-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletecomment-label">Delete Comment</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p> Are you sure you want to delete this comment?</p>
            </div>
            <div class="modal-footer">    
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-confirm-delete">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Ending of popup -->

    <div th:replace="navbar :: navbar_frag"></div>
    <div class="alert alert-warning" id="login-alert" role="alert">
        Please <a th:href="@{login}" class="alert-link">login/signup</a> to upvote/downvote.
      </div>
    <div class="container post-title" >
        <h2> <a id="post-header" th:text="${coursePost.getPostCourseName()}" href="#"></a></h2>
        <hr>
        
        <div class ="row">
            <div class="col-1">

                <span th:id="${'e'+'crspost-upvotes'+coursePost.getPost_id()}" th:text="${coursePost.getUpVotes()}" />
                <span th:if="${coursePost.getUpvotedByUsers().contains(loggedinUsername)}">
                    <i th:id="${'crspost-upvotes'+coursePost.getPost_id()}" class="bi bi-chevron-up vote-btn btn-colored"></i> <br>
                </span>
                <span th:unless="${coursePost.getUpvotedByUsers().contains(loggedinUsername)}">
                    <i th:id="${'crspost-upvotes'+coursePost.getPost_id()}" class="bi bi-chevron-up vote-btn"></i> <br>
                </span>
                <br>
                <span th:id="${'e'+'crspost-dnvotes'+coursePost.getPost_id()}" th:text="${coursePost.getDownVotes()}" />
                <span th:if="${coursePost.getDownVotedByUsers().contains(loggedinUsername)}"> 
                    <i th:id="${'crspost-dnvotes'+coursePost.getPost_id()}" class="bi bi-chevron-down vote-btn btn-colored"></i>
                </span>
                <span th:unless="${coursePost.getDownVotedByUsers().contains(loggedinUsername)}"> 
                    <i th:id="${'crspost-dnvotes'+coursePost.getPost_id()}" class="bi bi-chevron-down vote-btn"></i>
                </span>
            </div>
            <div class="col">
                <span><a th:text="${userName}" href="#" class="username"></a></span>
                <span th:text="${coursePost.getTimestamp()}" class="date"/>

                <!--this is course metadata-->
                <span class="course-metadata" th:text = "${coursePost.getCategory()}" title="Course Category"></span>
                <span class="course-metadata" th:text = "${coursePost.getLevel()}" title="Course Level"></span>
                <span class="course-metadata" th:text = "${coursePost.getDuration()}" title="Course Duration"></span>
                <span class="course-metadata" th:text = "${coursePost.getType()}" title="Course Type"></span>
                <span class="course-metadata" title="Course Format">
                    <span th:each="format:${coursePost.getFormats()}" th:text="${format}">
                        <!-- <span th:text="${format}"></span> -->
                    </span>
                </span>
                <p class="content" th:text="${coursePost.getAbout()}"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="comments-break">
            <div class="container">
                <p th:text="${postComments.size()}+' comments'"></p>
            </div>
        </div> <!-- line division-->
        <div>
            <form th:action="@{/courses/{courseName}/{postId}(courseName=${courseName},postId=${postId})}" method="post" th:object="${comment}">
                <div class="mb-3">
                    <textarea class = "form-control" name="commentText" id="commentId" rows="3" placeholder="Add Comment" th:field="*{commentText}"></textarea>
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Post</button>
            </form>
        </div>
        <div>
            <div class="container comment-section" th:each="comment:${postComments}">
                <div class="row">
                    <div class="votes col-1">
                        <span th:id="${'e'+'comment-upvotes'+comment.getCommentId()}" th:text="${comment.getUpVotes()}" /> 
                        <span th:if = "${comment.getUpvotedByUsers().contains(loggedinUsername)}">
                            <i class="bi bi-chevron-up vote-btn btn-colored" th:id = "${'comment-upvotes'+comment.getCommentId()}"></i> <br>
                        </span>
                        <span th:unless = "${comment.getUpvotedByUsers().contains(loggedinUsername)}">
                            <i class="bi bi-chevron-up vote-btn" th:id = "${'comment-upvotes'+comment.getCommentId()}"></i> <br>
                        </span>
                        <br>
                        <span th:id="${'e'+'comment-dnvotes'+comment.getCommentId()}" th:text="${comment.getDownVotes()}"/> 
                        <span th:if="${comment.getDownVotedByUsers().contains(loggedinUsername)}">
                            <i class="bi bi-chevron-down vote-btn btn-colored" th:id = "${'comment-dnvotes'+comment.getCommentId()}"></i>
                        </span>
                        <span th:unless="${comment.getDownVotedByUsers().contains(loggedinUsername)}">
                            <i class="bi bi-chevron-down vote-btn" th:id = "${'comment-dnvotes'+comment.getCommentId()}"></i>
                        </span>
                    </div>
                    <div class="comment col">
                        <div th:if="${comment.getPostedByUserName().equals(loggedinUsername)}">
                            <a href="#" th:text="${comment.getPostedByUserName()}" class="username"></a>
                            <span class="comment-date"th:text="${comment.getTimestamp()}"></span>
                            <i th:id="${comment.getCommentId()}" class="bi bi-trash delete-btn "data-bs-toggle="modal" data-bs-target="#deletecomment-popup"></i>
                        </div>
                        <div th:unless="${comment.getPostedByUserName().equals(loggedinUsername)}">
                            <a href="#" th:text="${comment.getPostedByUserName()}" class="username"></a>
                            <span class="comment-date"th:text="${comment.getTimestamp()}"></span>
                        </div>


                        <p class="comment-text" th:text="${comment.getCommentText()}"></p>
                        
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        $( document ).ready(function() {
            $('#login-alert').hide();

            ajaxDelete();
            ajaxPost(); 
	    });
        function ajaxDelete(){
            $(".delete-btn").click(function(){
                var commentId = this.id;
                
                var deleteData = {
                    commentId: Number(commentId)
                    // coursePostId:[[${coursePost.getPost_id()}]] 
                }
                $(".btn-confirm-delete").click(function(){
                    console.log(commentId);
                    $.ajax({
                        method:"DELETE",
                        contentType : 'application/json; charset=utf-8',
                        url:window.location.href+"/deletecomment",
                        data: commentId,                //NOte no json stringify
                        dataType:'json'
                    });
                    window.location.reload();
                }); 
            });
        }



        function ajaxPost(){
            $(".vote-btn").click(function(){

                var loginuser = [[${loggedinUsername}]];
                if(loginuser.length == 0){                      //if visitor clicks upvote/downvote
                    $("#login-alert").fadeTo(2000, 500).slideUp(500, function() {
                        $("#login-alert").slideUp(500);
                    });
                    return;
                }
                var voteCountId = 'e'+this.id;
                var entityType = this.id.substring(0,7); //comment or crspost
                var entityId = this.id.substring(15);
                var entId = Number(entityId);            //entityId in digits   
                var voteType = this.id.substring(8,14);  //upvote or dnvote
                var loginuser = [[${loggedinUsername}]];
                var voteCount = Number($('#'+voteCountId).text());
                
                
                if( $(this).css('color') == 'rgb(36, 216, 162)' ){
                    $(this).css('color','black');
                    $('#'+voteCountId).text(voteCount - 1);
                }
                else{                                       //if not voted
                    var oppVote='';
                    if(voteType == "upvote"){
                        oppVote = "dnvotes";
                    }
                    else{
                        oppVote = "upvotes";
                    }
                    var oppVoteId = entityType +"-"+oppVote+entityId;
                    var oppVoteCountId = 'e'+oppVoteId;
                    var oppVoteCount = Number($('#'+oppVoteCountId).text());
                    console.log(oppVoteId);
                    if($("#"+oppVoteId).css('color') == 'rgb(36, 216, 162)'){
                        $("#"+oppVoteId).css('color','black'); //deselect if the opposite is voted
                        $('#'+oppVoteCountId).text(oppVoteCount - 1);
                    }

                    $('#'+voteCountId).text(voteCount + 1);
                    $(this).css('color', 'rgb(36, 216, 162)');  //select the clicked
                }

                console.log(entId);
                console.log(voteType);
                var postData = {
                    action: voteType,
                    username:  loginuser,
                    entityId: entId,
                    entityType:entityType
                    
                }
                console.log(window.location);
                console.log("posting to"+window.location.href+"/voted");
                if(loginuser.length >0){
                    $.ajax({
                    method:"POST",
                    contentType : 'application/json; charset=utf-8',
                    url:window.location.href+"/voted",
                    data: JSON.stringify(postData),
                    dataType:'json'
                });
                }
                

                // console.log($("#"+voteCount).text());
            });
        }
        


        // $(document).ready(function() {
        //    var modelAttributeValue = [[${modelAttribute}]];
        // }
        /*]]>*/
        
    </script>
</body>
</html>