<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link rel="stylesheet" href="/styles/topic_list.css">
</head>
<body>
    <div th:replace="navbar :: navbar_frag"></div>
    <div class="row">
        <div class="col" id="sidebar-placeholder" >
            <div th:replace="sidebar :: sidebar_frag"></div>
        </div>
        <div class="col-10">
            <div class="container main-content">
                <div class="btn-group list-topic">
                    <div th:if="${topics.size() == 0}">
                        <div>No Topics to Show!</div>
                    </div>
<!--                    <a href="#" class="btn btn-outline-primary topic-card"id="first-card">Link</a>-->
                    <div th:unless="${topics.size()==0}">

                        <a th:each="topic:${topics}" th:text="${topic.getCourseName()}" th:href="@{courses/{courseName}(courseName = ${topic.getCourseName()})}" class="btn btn-outline-primary topic-card w-20"></a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>


</html>