#submitted_by {
  float: right;
}
#topic-name-courses {
  margin-top: 2rem;
}
.list_course {
  margin-top: 3.5rem;
}
a {
  text-decoration: none;
}
.card-parent {
  flex-direction: row;
}
.upvotes_and_downvotes {
  margin-top: 1rem;
  width: 2rem;
}
.course-title {
  width: 50rem;
}
.course-metadata {
  margin-top: 2rem;
}
.course-metadata-item {
  font-size: 0.75rem;
  padding: 0.2rem;
  background-color: rgb(158, 158, 158);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  border-color: black;
}
#sbusername {
  color: cornsilk;
}
